/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Http/Controllers/_template/*
/resources/views/layouts/_template/*
/app/Http/Requests/_template/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
/.idea
.idea
